/* font information */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* spacing variables */
:root{
    --vertical-space: 2rem; 
    --horizontal-space: 3rem; 
}

body{
    padding-left: 4em;
    font-size: 10px; 
    line-height: 1.5;

}
h1, h2, h3{
    line-height: 1.2em;
    font-family: 'Lora', serif;

}
/* image tag inside of a body with id about */
body#about img { height: 15em; }
body#portfolio img { height: 15em}

p {
    max-width: 50em; 
}
body{
    display:grid;
    font-family: 'Lora', serif;
    grid-template-areas: "head head" 
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 20em 1fr;
    grid-template-rows: auto auto 1fr auto; 
}

@media screen and (min-width: 25em){
    body{
        grid-template-areas: "head head"
                              "nav main"
                              "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}
body > *{
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
body > header{
    grid-area: head; 
    /* background-color: yellow;  */

}
body > nav{
    grid-area: nav;
    /* background-color: blue;  */
}
body > nav ul {
    list-style-type: none; 
    padding: 0; 
}

/* body > nav ul li {
    display: inline; 
    padding-right: 1 rem; 
} */

body > main{
    grid-area: main; 
    /* background-color: purple;  */
}
body > footer{
    grid-area: foot; 
    /* background-color: red;  */
}
header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space); 
}
header h1, footer h1{
    margin: 0;
}

body #portfolio ul#portfolioItems{
    display: flex; 
    flex-wrap: wrap; 
    flex: 1; 
    list-style-type: none; 
    padding: 0; 
}

/* makes the grid look different on phone screen */
@media screen and (min-width: 25em){
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%; 
        padding-right: 2%; 
    }
}

body#portfolio il#portfolioItems li img {
    max-width: 100%; 
}