/* font information */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* spacing variables */
:root {
    --vertical-space: 2rem; 
    --horizontal-space: 3rem; 
    --light-color:#F2D5D8;
    --body-color:#403333;
    --heading-color:#BF8E97;
    --contrast-color:#D9A9AD; 
    --subheading-color: #D9A9AD; 
}

body {
    padding-left: 4em;
    font-size: 10px; 
    line-height: 1.5;
    background-image: linear-gradient(3deg, rgb(242,233,233),rgb(242,213,216));
    /* cursor: pointer; */
    color: var(--body-color);
}

/* #circularcursor {
    background-color: transparent;
    border:1px solid black;    
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
  } */

 .cursor {
    width: 100px; 
    height: 200px; 
    border: 1px solid white; 
    border-radius: 50%; 
    position: absolute; 
    transition-duration: 200ms; 
    transition-timing-function: ease-out; 
    animation: cursorAnim .5s infinite alternate; 
    /* transform: translate(-50%, -50%);  */
 }  

.cursor::after{
    content: "";
    width: 200px; 
    height: 200px; 
    position: absolute; 
    border: 8px solid rgba(231, 73, 73, 0.258); 
    border-radius: 50%; 
    opacity: .5;
    top: -4px; 
    /* left: -6px;   */
    /* right:-7; */
    animation: cursorAnim2 .5s infinite alternate;
    /* transform: translate(-50%, -50%); */
}

@keyframes cursorAnim {
    from {
        transform: scale(1); 
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1); 
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0; 
    }
}

.expand {
    animation:cursorAnim3 .5s forwards; 
    border: 1px solid rgba(231, 73, 73, 0.258); 
}

h1, h2, h3 {
    line-height: 1.2em;
    font-family: 'Lora', serif;
    /* color: var(--heading-color);  */

}

header h1 {
    color: var(--heading-color); 
}
h1, h2, h3 {
    color: var(--heading-color); 
}
/* h3 {
    color: var(--body-color); 
} */

a {
    color: var(--body-color); 
    text-decoration-color: var(--contrast-color); 
}

a:hover {
    color: var(--contrast-color); 
}
/* image tag inside of a body with id about */
body#about img { 
    height: 15em; 
    display: inline; 
    float: left; 
    margin-right: var(--horizontal-space);
    border: 1px solid var(--heading-color);  
    /* margin-bottom: var(--vertical-space); */
}
body#portfolio img { height: 15em}

@media screen and (min-width: 25em) {
    body#about img {
        float: left; 
        margin-bottom: var(--vertical-space);
    }
}

body {
    display:grid;
    font-family: 'Lora', serif;
    grid-template-areas: "head head" 
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 20em 1fr;
    grid-template-rows: auto auto 1fr auto; 
}

 @media screen and (min-width: 25em) {
    body{
        grid-template-areas: "head head"
                              "nav nav"
                              "main main"
                              "foot foot";
        grid-template-rows: auto auto 1fr auto;
    }
} 
body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
body > header {
    grid-area: head; 
    /* background-color: yellow;  */

}
body > nav {
    grid-area: nav;
    /* border-bottom: 2px solid var(--contrast-color); */
    /* background-color: blue;  */
}
body > nav ul {
    float: right; 
}
body > main > *:first-child::before {
    content: ""; 
    /* height: 2px;  */
    /* width: 100%;  */
    border-top: 2px solid var(--subheading-color); 
    /* margin-top: var(--vertical-space); */
    display: block; 
    padding-top: var(--vertical-space); 
}
body {
    max-width: 50rem; 
}
body > nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    line-height: 2.4; 
    float: right; 
    /* padding-bottom: var(--vertical-space); */
    /* border-bottom: 2px solid var(--contrast-color); */
}

body > nav ul li {
    display: inline-block; 
    padding-right: 1 rem; 
}

body > main {
    grid-area: main; 
    /* background-color: purple;  */
}
body > footer {
    grid-area: foot; 
    /* background-color: red;  */
}
header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space); 
}
header {
   padding-bottom: 0;  
}
header h1, footer h1 {
    margin: 0;
}

body #portfolio ul#portfolioItems {
    display: flex; 
    flex-wrap: wrap; 
    flex: 1; 
    list-style-type: none; 
    padding: 0; 
}

/* makes the grid look different on phone screen */
@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%; 
        padding-right: 2%; 
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%; 
    margin-left: -0.64em; 
}